In [1]:
import sqlite3
con = sqlite3.connect('example-lesson.db')

In [2]:
con = sqlite3.connect('example-lesson.db')
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE stocks
               (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
cur.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()

In [5]:
con = sqlite3.connect('example-lesson.db')
cur = con.cursor()

for row in cur.execute('SELECT * FROM stocks ORDER BY price'):
        print(row)

con.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [6]:
con = sqlite3.connect('example-lesson.db')
cur = con.cursor()

symbol = 'RHAT'
cur.execute("SELECT * FROM stocks WHERE symbol = '%s'" % symbol)
print(cur.fetchone()) #returns one request

con.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [14]:
import sqlite3

con = sqlite3.connect("example-lesson.db")
cur = con.cursor()
cur.execute("create table IF NOT EXISTS lang (name, first_appeared)")

# This is the qmark style:
cur.execute("insert into lang values (?, ?)", ("C", 1972))

# The qmark style used with executemany():
lang_list = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cur.executemany("insert into lang values (?, ?)", lang_list)

# And this is the named style:
cur.execute("select * from lang where first_appeared=:year", {"year": 1972})
print(cur.fetchall())

con.commit()

con.close()

[('C', 1972)]